<div class="row m-0">
    <div class="col-lg-6 m-0 p-0">
        <div class="simi-card">
            <div class="table-responsive text-center container mt-2">
                <table class="table table-bordered table-sm">
                    <tbody>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Código de Alumno
                                    </label>
                                    <br class="m-0" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        {{alumno.codigo}}
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Nombres completos
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        {{alumno.nombre}}
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Periodo Académico
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        {{alumno.periodo}} ({{alumno.mes}})
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 m-0 p-0">
        <div class="simi-card">
            <div class="table-responsive text-center container mt-2">
                <table class="table table-bordered table-sm">
                    <tbody>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Documento de Identidad
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        {{alumno.dni}}
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Última matrícula
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        {{alumno.idioma}}
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="simi-hover">
                                <div>
                                    <label style="font-size: 13px; color: gray">
                                        Fecha y Hora
                                    </label>
                                    <br class="mb-1" />
                                    <label class="simi-section-label-blue" style="width: 280px;">
                                        {{alumno.fecha}}
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>